@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Hack';
  src: url(/assets/fonts/Hack-NF.ttf);
  display: swap;
}

* {
  font-family: 'Hack', monospace;
}

html {
  background-color: #1e1e1e;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #eebc1d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eebc1d;
}

table tr td {
  padding-right: 0.75rem;
}

table {
  table-layout:fixed
}